[receive]
	requireContributorAgreement = true
	requireChangeId = true
[project]
[access "refs/heads/*"]
	create = group oppo_apq8064
	push = +force group oppo_apq8064
	label-Code-Review = -2..+2 group oppo_apq8064
	label-Verified = -1..+1 group oppo_apq8064
	submit = group oppo_apq8064
	forgeCommitter = group oppo_apq8064
	pushMerge = group oppo_apq8064
[submit]
	action = rebase if necessary
